# Ignorar arquivos do sistema e de versionamento
.git
.gitignore
.DS_Store

# Ignorar pastas de build locais
target
node_modules
dist

# Ignorar Dockerfiles e docker-compose
Dockerfile
docker-compose.yml
